<a href="https://colab.research.google.com/github/aainabatool/IIUI-Python-For-Mathematics---Oct-25/blob/main/Intro_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to Python for Mathematics!")
print("Let's make math fun with Python ")

## **Variables and Data Types**

In [ ]:
# Integer
a = 5
# Float
b = 2.5
# String
name = "Aaina"
# Boolean
is_math_fun = True

print(a, b, name, is_math_fun)
print(type(a), type(b), type(name), type(is_math_fun))

## **Input / Output**

In [ ]:
num = int(input("Enter a number: "))
print("You entered:", num)
print("Square of your number is:", num ** 2)

## **Operators**

In [ ]:
x, y = 10, 3
print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division:", x / y)
print("Floor Division:", x // y)
print("Power:", x ** y)
print("Modulus:", x % y)

-10//3 -> Floor division always rounds down (toward -âˆž), so it goes to the lower integer, -4.

## **Comparison Operators**

In [ ]:
print(x > y)
print(x == y)
print(x != y)

## **Logical Operators**

In [ ]:
a, b = True, False
print(a and b)
print(a or b)
print(not b)

## **Assignment Operators**

In [ ]:
z = 5
z += 3   # same as z = z + 3
print(z)

## **Control Flow**

In [ ]:
marks = int(input("Enter your marks: "))

if marks >= 80:
    print("Grade: A")
elif marks >= 60:
    print("Grade: B")
else:
    print("Grade: C")

## **Loops**

In [ ]:
# For loop
for i in range(1, 6):
    print("Count:", i)

# While loop
n = 3
while n > 0:
    print("n =", n)
    n -= 1

## **Break and Continue**

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue  # skip when i = 3
    print(i)

# **Data Structures**

## **List**

In [ ]:
numbers = [2, 4, 6, 8]
print("List:", numbers)
numbers.append(10)
print("After append:", numbers)
print("First element:", numbers[0])

In [ ]:
print("Last element:", numbers[-1])
print("Second last:", numbers[-2])

In [ ]:
numbers.insert(2, 5)    # Insert 5 at index 2
print("After adding:", numbers)

## **Tuple**

In [ ]:
t = (1, 2, 3)
print("Tuple:", t)
# t[0] = 5  #  This will give error (immutable)

## **Set**

In [ ]:
s = {1, 2, 3, 3, 4}
print("Set (no duplicates):", s)
s.add(5)
print("After add:", s)

## **Dictionaries**

In [ ]:
student = {
    "name": "Aaina",
    "age": 21,
    "major": "Mathematics"
}

print(student)

In [ ]:
print("Name:", student["name"])
print("Major:", student["major"])

# **Functions**

## **Defining and Using Functions**

In [ ]:
def square(x):
    return x * x

num = int(input("Enter a number: "))
print("Square is:", square(num))

## **Function with Multiple Arguments**

In [ ]:
def add(a, b):
    return a + b

print("Sum:", add(10, 20))

## **Function for Mathematical Operation**

In [ ]:
import math

r = float(input("Enter radius: "))
area = math.pi * (r ** 2)
print("Area of circle:", area)

# **Example:**

## **Factorial**

In [ ]:
# Factorial using loop
n = int(input("Enter number: "))
fact = 1
for i in range(1, n + 1):
    fact *= i
print("Factorial:", fact)

![Z.png]()

## **Take two numbers and print their average**

In [ ]:
# Taking input from user
num1 = (input("Enter first number: "))
num2 = (input("Enter second number: "))

# Calculating average
average = (num1 + num2) / 2

# Displaying result
print("The average is:", average)

## **Check if a number is Even or Odd**

In [ ]:
# Taking input from user
num = int(input("Enter a number: "))

# Check condition
if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

## **Create a list of 5 numbers and print their sum**

In [ ]:
# Creating a list of 5 numbers
numbers = [10, 20, 30, 40, 50]

# Printing the list
print("Numbers:", numbers)

# Calculating sum
total = sum(numbers)

# Displaying result
print("Sum of numbers:", total)

In [ ]:
print("aaaa")

In [ ]:
x = 5

In [ ]:
y = 5

In [ ]:
z = x+ y

In [ ]:
print(z)

In [ ]:
x = 5
y = 3
z = x + y
print("z =", z)